{
	email {$ROOSTY_ACME_EMAIL}
}

{$ROOSTY_DOMAIN} {
	log {
		output stdout
		format filter {
			wrap json
			fields {
				request>headers delete
				resp_headers delete
			}
		}
	}
	encode zstd gzip
	reverse_proxy roosty:4000
}

{% if roosty_phanpy_enabled %}
phanpy.{$ROOSTY_DOMAIN} {
	log {
		output stdout
		format filter {
			wrap json
			fields {
				request>headers delete
				resp_headers delete
			}
		}
	}
	encode zstd gzip
	route {
		@phanpy_root {
			path /
			not query default=1
		}
		redir @phanpy_root /?default=1#/login?instance={$ROOSTY_DOMAIN} 302
		root * /srv/phanpy
		try_files {path} /index.html
		file_server
	}
}
{% endif %}

{% if roosty_elk_enabled %}
elk.{$ROOSTY_DOMAIN} {
	log {
		output stdout
		format filter {
			wrap json
			fields {
				request>headers delete
				resp_headers delete
			}
		}
	}
	encode zstd gzip
	reverse_proxy elk:5314
}
{% endif %}
