{
	email {$ROOSTY_ACME_EMAIL}
}

{$ROOSTY_DOMAIN} {
	encode zstd gzip
	reverse_proxy roosty:4000
}

{% if roosty_phanpy_enabled %}
phanpy.{$ROOSTY_DOMAIN} {
	encode zstd gzip
	route {
		@phanpy_root path /
		redir @phanpy_root /#/login?instance={$ROOSTY_DOMAIN} 302
		reverse_proxy https://phanpy.social {
			header_up Host phanpy.social
		}
	}
}
{% endif %}

{% if roosty_elk_enabled %}
elk.{$ROOSTY_DOMAIN} {
	encode zstd gzip
	reverse_proxy elk:5314
}
{% endif %}
